.product{
    flex: 4;
    padding: 20px;
}

.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddBtn{
    width: 80px;
    border: 0;
    padding: 5px;
    background: darkgreen;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.productTop{
    display: flex;
    justify-content: space-between;
}

.productTopLeft, .productTopRight {
    flex: 1;
}

.productTopLeft{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC; 
    box-shadow: 1px 1px 5px 1px #CCCCCC;
}