.product{
    flex: 4;
    padding: 20px;
}

.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddBtn{
    width: 80px;
    border: 0;
    padding: 5px;
    background: darkgreen;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.productTop{
    display: flex;
    justify-content: space-between;
}

.productTopLeft, .productTopRight {
    flex: 1;
}

.productTopRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC; 
    box-shadow: 1px 1px 5px 1px #CCCCCC;
}

.productInfoTop{
    display: flex;
    align-items: center;
}

.productImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.productInfoTop .productName {
    font-weight: 600;
}

.productInfoBottom{
    margin-top: 10px;
}

.productInfoItem{
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.productInfoValue{
    font-weight: 300;
}

.productBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC; 
    box-shadow: 1px 1px 5px 1px #CCCCCC;
}

.productForm{
    display: flex;
    justify-content: space-between;
}

.productFormLeft{
    display: flex;
    flex-direction: column;
}