.sidebar {
    flex: 1;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    background: #fbfbff;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    color: lightgray;
}

.sidebarListItem {
    padding: 5px;
    list-style: none;
}