.widgetSm {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC; 
    box-shadow: 1px 1px 5px 1px #CCCCCC;
}

.widgetSmTitle {
    font-size: 32px;
    font-weight: bold;
}

.widgetSmList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.widgetSmListItem .widgetSmImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
}

.widgetSmUsername {
    font-weight: bold;
}

.widgetSmUserTitle {
    font-weight: 300;
}

.widgetSmButton{
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border: none;
}